# Dependencies
dependencies/
!dependencies/README

# Sublime
*sublime*

# Build dir
build/

# Win32 output
*.exe
*.pdb
*.ilk

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
